@use '../base/variables' as v;
@use '../base/mixins' as m;

.about-me {
    @include m.grid(1, v.$spacing-100);
    place-items: center;

    @include m.tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    &__image {
        width: 400px;
    }
}