@use '../base/variables' as v;
@use '../base/mixins' as m;

.skills {

    &__categories {
        @include m.grid(1, v.$spacing-50);
        @include m.tablet {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__category {
        padding: v.$spacing-50;
        text-align: center;
    }

    &__title {
        margin-top: 0
    }

    &__container {
        @include m.flex;

        i {
            font-size: 7rem;
        }
    }

    &__image {
        width: 60px;
    }
    &__name {
        margin: 0;
        line-height: 1.4;
        font-weight: v.$fw-light;
    }
}