@use '../base/variables' as v;
@use '../base/mixins' as m;

.skills {

    &__categories {
        @include m.grid(1, v.$spacing-50);
        @include m.tablet {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__category {
        padding: v.$spacing-50;
        text-align: center;
    }

    &__title {
        margin-top: 0
    }

    &__container {
        @include m.flex;
        padding: v.$spacing-50;
        border-radius: 1rem;
        transition: scale 150ms, background-color 250ms;

        i {
            font-size: 7rem;
        }

        &:hover {
            scale: 1.05;
            background-color: v.$clr-primary-700-tr;
        }
    }

    &__skill {
        transition: scale 50ms;
        &:hover {
            scale: 1.05;       
    }
}

    &__image {
        width: 85px;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
    &__name {
        margin: 0;
        line-height: 1.4;
        font-weight: v.$fw-light;
    }
}