@use '../base/variables' as v;
@use '../base/mixins' as m;

.card {
    border-radius: 1rem;
    background-color: v.$clr-primary-600;
    overflow: hidden;
    box-shadow: v.$clr-shadow-200;  
    transition: all 600ms;
    &:not(.card--contact) {
        cursor: pointer;
    }

    @media (max-width: 350px) {
        max-width: 300px;
        margin-left: .5rem;
    }

    &__image {
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: center;
        filter: brightness(70%);
        transition: filter 150ms;
    }

    &__info {
        padding: v.$spacing-50;
    }

    &__title {
        margin-block: 0 v.$spacing-50;
    }

    &__description {
        @include m.flex($gap: 0rem, $jc: flex-start, $centered: false);
        @include m.text-clamp(3);
    }
    &__text {
        margin-block: .8rem;
    }
    &__icon {
        font-size: v.$fs-900;
    }

    &__links {
        @include m.flex($centered:false);
        row-gap: 1rem;
        display: none;
    }

    &__link {
        // display: flex;
        // align-items: center;
        // gap: 1rem;
        margin: 0 auto;
    }

    &__link-icon {
        font-size: 2.5rem;
    }

    $this: &;
    &--contact {
        background-color: v.$clr-primary-700;
        box-shadow: v.$clr-shadow-100;
        #{this}__title {
            margin: 0;
        }
        #{$this}__description {
            display: flex;
            gap: 1rem;
        }
    }

    &:not(.card--contact):hover {
        transition: all 350ms;
        transform: translateY(-10px);
        // box-shadow: v.$clr-shadow-250;

        #{$this}__image {
            filter: brightness(100%);
        }
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: grid;
        place-items: center;
        background-color: #00000083;
        transition: background-color 300ms;

        #{$this} {
            width: min(700px, 90%);
            
            &__image {
                filter: brightness(100%);
                @include m.tablet {
                    height: 260px;
                }
            }
            &__description {
                -webkit-line-clamp: 10;
            }
            &__links {
                display: flex;
            }

            &:hover {
                transform: none;
            }
            
        }
    }
}