@use '../base/variables' as v;
@use '../base/mixins' as m;

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: v.$spacing-50;
    border-radius: 1rem;
    background-color: v.$clr-primary-700;
    box-shadow: v.$clr-shadow-100;
    @include m.phone {
        padding: v.$spacing-100;
    }

    &__field {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    &__label {
        display: inline-block;
        font-size: v.$fs-labels;
        color: v.$clr-texts;
    }
    &__file {
        position: absolute;
        bottom: 0;
        margin: 1rem;
        padding: .5rem 2rem;
        width: 90px;

        text-align: center;
        border-radius: .5rem;
        background-color: v.$clr-secondary-500;
        transition: background-color 200ms ease;
        cursor: pointer;

        &:hover {
            background-color: v.$clr-secondary-600;
        }
    }

    &__image {
        margin-bottom: v.$spacing-50;
    }

    &__input,
    &__textarea {
        padding: 1rem;
        color: v.$clr-gray-100;
        border: 1px solid v.$clr-primary-600;
        border-radius: .5rem;
        background-color: v.$clr-primary-500;

        &--file {
            background-color: transparent;
            border: none;
        }
    }

    &__textarea {
        resize: vertical;
    }

    &__submit {
        @include m.tablet {
            width: max-content;
            padding-block: 1.5rem;
        }
    }
}