@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    color: v.$clr-white;
    background: v.$clr-primary-gradient-100;
    
    &__grid {
        @include m.flex($centered: false);
    }

    &__logo {
        margin: 0;
    }

    &__links {
        @include m.flex();
    }

    &__link {
        &:hover {
            color: v.$clr-white;
        }
    }
}