@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    color: v.$clr-white;
    background-color: v.$clr-primary-700;
    
    &__grid {
        @include m.flex($centered: false);
    }

    &__logo {
        margin: 0;
    }

    &__links {
        @include m.flex();
    }
}