@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    min-height: 100vh;
    font-family: v.$main-font;
    font-size: 1.6rem;
    color: v.$clr-texts;

    background-color: v.$clr-primary-500;
    background-image: url("../../img/icons/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
a {
    color: v.$clr-links;
    text-decoration: none;
    font-size: v.$fs-links;
}
img {
    max-width: 100%;
    height: auto;
}
ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
figure {
    margin: 0;
}

//? ---- Tipography ----
h1 {
    font-size: v.$fs-headings;
}
h2 {
    font-size: v.$fs-titles;
}
h3 {
    font-size: v.$fs-titles;
}
h4 {
    font-size: v.$fs-seccion-heading;
}
p {
    font-size: v.$fs-texts;
    line-height: 1.5;
}
