@use 'variables' as v;
@use 'mixins' as m;

//? Layout
.container {
    @include m.container;
}
.container-md {
    @include m.container-md;
}
.container-sm {
    @include m.container-sm;
}
//? ---- Text ----
.accent-text {
    background-color: v.$clr-secondary-500;
}
.text__gradient {
    background: linear-gradient(to right, v.$clr-secondary-500 0%, lighten(v.$clr-secondary-500, 20%) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}