@use 'variables' as v;
@use 'mixins' as m;

//? Layout
.container {
    @include m.container;
}
.container-md {
    @include m.container-md;
}
.container-sm {
    @include m.container-sm;
}

@each $name, $size in v.$spacing {
    .mg-#{$name} {
        margin: $size;
    }
    .mg-#{$name}-bt {
        margin-bottom: $size;
    }
    .mg-#{$name}-tp {
        margin-top: $size;
    }
    .mg-#{$name}-inline {
        margin-inline: $size;
    }
    .mg-#{$name}-block {
        margin-block: $size;
    }
    
    .pd-#{$name} {
        padding: $size;
    }
    .pd-#{$name}-bt {
        padding-bottom: $size;
    }
    .pd-#{$name}-tp {
        padding-top: $size;
    }
    .pd-#{$name}-inline {
        padding-inline: $size;
    }
    .pd-#{$name}-block {
        padding-block: $size;
    }
}

//? ---- Text ----
.accent-text {
    background-color: v.$clr-secondary-500;
}
.text__gradient {
    background: linear-gradient(to right, v.$clr-secondary-500 0%, lighten(v.$clr-secondary-500, 20%) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}