//? ---- Font ----
//* Family
$main-font: 'Outfit', sans-serif;

//* Weight
$fw-light: 200;
$fw-regular: 400;
$fw-bold: 700;

//* Size
$fs-400: 1.4rem;
$fs-450: 1.6rem;
$fs-500: 1.8rem;
$fs-600: 2.1rem;
$fs-700: 3rem;
$fs-800: 3.6rem;
$fs-900: 4rem;

$fs-headings: $fs-900;
$fs-titles: $fs-700;
$fs-seccion-heading: $fs-600;
$fs-texts: $fs-500;
$fs-links: $fs-500;
$fs-labels: $fs-500;

//? ---- Colors ----
$clr-primary-500: #23263a;
$clr-primary-600: #201E33;
$clr-primary-700: #1F1A2C;
$clr-primary-700-tr: #1F1A2CB4;
// $clr-primary-800: #1D1525; //Not using
// $clr-primary-900: #1A111E;

$clr-primary-gradient-100: linear-gradient(180deg, rgba(31,26,44,1) 0%, rgba(31,26,44,1) 44%, rgba(32,30,51,0.9191877434567577) 100%);

$clr-secondary-500: #1884dd;
$clr-secondary-600: #1350CA;
// $clr-secondary-700: #0E23B6; //Not using
// $clr-secondary-800: #170AA2;

// $clr-gray-500: #464D5A;  //Not using
// $clr-gray-400: #69737A; 
// $clr-gray-300: #8C9799; 
$clr-gray-200: #AFB9B9; 
$clr-gray-100: #D3D8D7;
$clr-white: #fff;

$clr-texts: $clr-gray-100;
$clr-links: $clr-gray-100;

$clr-shadow-100: 3px 3px 7px 1px #464d5a2f;
$clr-shadow-200: 5px 5px 7px 1px #1f1a2cdc;
$clr-shadow-250: 15px 20px 12px 1px #1f1a2cdc;

//? ---- Spacing ----
$spacing-50: 2rem;
$spacing-100: 4rem;
$spacing-200: 8rem;
$spacing-300: 12rem;
$spacing-400: 16rem;


//? ---- Media Queries ----
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;
