.animate-up-in {
    animation: animate-up-in 500ms;
}
.animate-up-out {
    animation: animate-up-out 500ms;
}
.animate-fade-in {
    animation: animate-fade 500ms;
}
.animate-fade-out {
    animation: animate-fade 600ms reverse;
}

@keyframes animate-up-in {
    from {
        translate: 0 1000px;
    }

    to {
        translate: 0 0;
    }
}

@keyframes animate-up-out {
    to {
        translate: 0 -1000px;
    }
}

@keyframes animate-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}